.emailRow {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;

  &:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
  }
  &__options {
    display: flex;
  }
  &__title {
    flex: 1;
    font-weight: 600;
    margin-right: 20px;
  }
  &__message {
    display: flex;
    align-items: center;
    flex: 3;
    font-size: 13px;
    h4 {
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &__time {
    padding-right: 32px;
    font-size: 12px;
    font-weight: bold;
  }
  &__description {
    font-weight: 400;
    color: grey;
  }
}
